.button {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  color: #FFF;
  font-size: calculateRem(15px);
  transition: all 0.2s ease-in;
  background-color: $black;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 20px;

    .arrow-left, .arrow-right {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
    .arrow-left {
      background: url(../assets/icons/arrow_left.svg) no-repeat center center;
    }
    .arrow-right {
      background: url(../assets/icons/arrow_right.svg) no-repeat center center;
    }

    &:hover {
      background-color: $red;
    }
    &:active {
      background-color: $light-red;
      transition: none;

    }
}

.button-icon {
  width: 40px !important;
  margin: 0;
}
