.footer {
  background-color: $black;
  color: $light-gray;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;

  .fb_logo, .tw_logo, .insta_logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }

  .fb_logo {
    background-image: url(../assets/icons/facebook.svg);

    &:hover{
      background-image: url(../assets/icons/facebook_.svg);
    }
  }
  .tw_logo {
    background-image: url(../assets/icons/twitter.svg);

    &:hover{
      background-image: url(../assets/icons/twitter_.svg);
    }
  }
  .insta_logo {
    background-image: url(../assets/icons/instagram.svg);

    &:hover{
      background-image: url(../assets/icons/instagram_.svg);
    }
  }

}
