@media screen and (min-width: 320px) and (max-width: 768px) {
  .caroussel_title {
    font-size: calculateRem(30px) !important;
    margin-bottom: 36px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .caroussel_title {
    font-size: calculateRem(40px) !important;
    margin-bottom: 40px !important;
  }
}


.caroussel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .caroussel_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: 1;
    transition-property: opacity;

    &.hide {
      opacity: 0;
    }
  }

  .caroussel_details {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;

    .caroussel_title {
      font-size: calculateRem(50px);
      text-transform: uppercase;
      margin-bottom: 50px;
      opacity: 1;
      transition-property: all;

      &.hide {
        opacity: 0;
      }
    }
  }
}
