@media screen and (min-width: 320px)  and (max-width: 768px) {
  .instafeed_container {
    max-width: 320px !important;
  }
}

@media screen and (min-width: 768px)  and (max-width: 1024px) {

  .instafeed_container {
    max-width: 620px !important;
  }
}

@media screen and (min-width: 1024px) {
  .instafeed_container {
    max-width: 940px !important;
  }
}

.instafeed {
  display: flex;
  justify-content: center;
  text-align: center;
  background: url(../assets/images/Feed_bg.jpg) no-repeat center center;
  background-size: cover;


  .instafeed_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;

    .instafeed_title {
      font-size: calculateRem(30px);
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 20px;
      color: $blue-gray;
    }

    .instafeed_subtitle {
      font-size: calculateRem(24px);
      font-weight: 300;
      line-height: calculateRem(33px);
      color: #FFF;
    }

    .columns {
    	column-width: 300px;
    	column-gap: 20px;
      column-count: 3;
    	margin: 50px auto;

      figure {
        width: 100%;
        max-width: 300px;
      	background: #FFF;
      	margin: 0 0 20px 0;
        display: inline-block;
        column-break-inside: avoid;

        img {
        	width: 100%; height: auto;
        }

        figcaption {
          font-size: calculateRem(15px);
          line-height: calculateRem(21px);
          text-align: left;
        	color: #76797F;
          margin: 15px;

        }
      }
    }
  }
}
