@media screen and (min-width: 320px)  and (max-width: 768px) {
  .navbar {
    height: 60px !important;
    justify-content: center;

    .menu_toggle {
      display: inline-block !important;
      position: absolute;
      left: 20px;

    }
    .header_logo {
      width: 22px !important;
      height: 22px !important;
      margin: 0 !important;
    }

    .menu-wrapper {
      position: absolute;
      top: 60px;
      height: 100vh;
      width: 100vw;
      background-color: $black;
      border-top: 2px solid #FFF;
      padding-top: 10px;
      opacity: 0;


      .menu {
        color: #FFF;
        font-size: calculateRem(30px);
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu_element{
          margin: 30px;

          &:hover{
            color: $red;
          }

        }
      }
    }
    .close {
      animation: menuClose 300ms linear forwards;
      animation-fill-mode: forwards;
    }

    .open {
      animation: menuOpen 300ms linear forwards;
      animation-fill-mode: forwards;
    }
  }
}

.navbar {
  background-color: $black;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;

  .header_logo {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../assets/icons/logo.svg) no-repeat center center;
    background-size: 100%;
    margin: 0 40px 0 30px;
  }

  .menu_toggle {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../assets/icons/menu.svg) no-repeat center center;
    background-size: 100%;
    display: none;

    &:hover{
      background: url(../assets/icons/menu_.svg) no-repeat center center;
    }
  }

  .menu_toggle--open {
    background: url(../assets/icons/close.svg) no-repeat center center;

    &:hover{
      background: url(../assets/icons/close_.svg) no-repeat center center;
    }
  }

  .menu {
    color: $light-gray;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: calculateRem(18px);

    .menu_element{
      display: inline-block;
      margin-right: 40px;
      transition: color 0.3s ease-in;
      cursor: pointer;

      &[data-active=true] {
        color: #FFF;
      }

      &:hover{
        color: $red;
      }

    }
  }
}

@keyframes menuClose {
  0% {
    opacity: 1;
  }

  100% {
    opacity:0;
    pointer-events: none;

  }
}
@keyframes menuOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity:1;
  }
}
