@media screen and (min-width: 320px)  and (max-width: 768px) {
  .scroll {
    width: 40px !important;
    height: 40px !important;
    background-image: url(../assets/icons/arrow_down_touch.svg) !important;
    bottom: 20px !important;

    .arrow-down {
      display: none !important;
    }
  }
}

.scroll {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  background-color: #FFF;
  background-repeat: no-repeat;
  align-self: center;
  background-position: center;
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-image: url(../assets/icons/mouse.svg);

    &:hover {
      background-image: url(../assets/icons/mouse_.svg);
    }

  .arrow-down {
    width: 14px;
    height: 8px;
    display: inline-block;
    top: 100%;
    position: inherit;
    opacity: 0;
    margin-top: 10px;
    position: inherit;
    background: url(../assets/icons/arrow_down.svg) no-repeat center center;
    cursor: default;
    animation: arrow 1.2s linear infinite;

  }
}

@keyframes arrow {
  0% {
      margin-top: 10px;
      opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }

  100% {
    margin-top: 25px;
    opacity: 0;
  }
}
