@media screen and (min-width: 320px) and (max-width: 768px) {
  .section_container {
    max-width: 300px !important;
    margin: 60px 0 !important;


    .section_title {
      font-size: calculateRem(20px)  !important;
      line-height: calculateRem(28px)  !important;
      margin-bottom: 20px !important;
    }

    .section_text {
      width: 100%;
      font-size: calculateRem(15px)  !important;
      line-height: calculateRem(19px)  !important;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .section_container {
    max-width: 620px !important;
  }
}

@media screen and (min-width: 1024px) {
  .section_container {
    max-width: 940px !important;
  }
}

.section {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FFF;

  .section_container {
    max-width: 940px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;

    .section_title {
      font-size: calculateRem(30px);
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 40px;
    }

    .section_text {
      font-size: calculateRem(24px);
      font-weight: 300;
      line-height: calculateRem(33px)
    }
  }
}
