@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .navbar {
    height: 60px !important;
    justify-content: center; }
    .navbar .menu_toggle {
      display: inline-block !important;
      position: absolute;
      left: 20px; }
    .navbar .header_logo {
      width: 22px !important;
      height: 22px !important;
      margin: 0 !important; }
    .navbar .menu-wrapper {
      position: absolute;
      top: 60px;
      height: 100vh;
      width: 100vw;
      background-color: #000000;
      border-top: 2px solid #FFF;
      padding-top: 10px;
      opacity: 0; }
      .navbar .menu-wrapper .menu {
        color: #FFF;
        font-size: 1.875rem;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .navbar .menu-wrapper .menu .menu_element {
          margin: 30px; }
          .navbar .menu-wrapper .menu .menu_element:hover {
            color: #FD5454; }
    .navbar .close {
      animation: menuClose 300ms linear forwards;
      animation-fill-mode: forwards; }
    .navbar .open {
      animation: menuOpen 300ms linear forwards;
      animation-fill-mode: forwards; } }

.navbar {
  background-color: #000000;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000; }
  .navbar .header_logo {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../assets/icons/logo.svg) no-repeat center center;
    background-size: 100%;
    margin: 0 40px 0 30px; }
  .navbar .menu_toggle {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../assets/icons/menu.svg) no-repeat center center;
    background-size: 100%;
    display: none; }
    .navbar .menu_toggle:hover {
      background: url(../assets/icons/menu_.svg) no-repeat center center; }
  .navbar .menu_toggle--open {
    background: url(../assets/icons/close.svg) no-repeat center center; }
    .navbar .menu_toggle--open:hover {
      background: url(../assets/icons/close_.svg) no-repeat center center; }
  .navbar .menu {
    color: #8E8E8E;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.125rem; }
    .navbar .menu .menu_element {
      display: inline-block;
      margin-right: 40px;
      transition: color 0.3s ease-in;
      cursor: pointer; }
      .navbar .menu .menu_element[data-active=true] {
        color: #FFF; }
      .navbar .menu .menu_element:hover {
        color: #FD5454; }

@keyframes menuClose {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    pointer-events: none; } }

@keyframes menuOpen {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  background-color: #000000;
  color: #8E8E8E;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0; }
  .footer .fb_logo, .footer .tw_logo, .footer .insta_logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s ease-in;
    cursor: pointer; }
  .footer .fb_logo {
    background-image: url(../assets/icons/facebook.svg); }
    .footer .fb_logo:hover {
      background-image: url(../assets/icons/facebook_.svg); }
  .footer .tw_logo {
    background-image: url(../assets/icons/twitter.svg); }
    .footer .tw_logo:hover {
      background-image: url(../assets/icons/twitter_.svg); }
  .footer .insta_logo {
    background-image: url(../assets/icons/instagram.svg); }
    .footer .insta_logo:hover {
      background-image: url(../assets/icons/instagram_.svg); }

.button {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  color: #FFF;
  font-size: 0.9375rem;
  transition: all 0.2s ease-in;
  background-color: #000000;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 20px; }
  .button .arrow-left, .button .arrow-right {
    width: 100%;
    height: 100%;
    display: inline-block; }
  .button .arrow-left {
    background: url(../assets/icons/arrow_left.svg) no-repeat center center; }
  .button .arrow-right {
    background: url(../assets/icons/arrow_right.svg) no-repeat center center; }
  .button:hover {
    background-color: #FD5454; }
  .button:active {
    background-color: #FF7676;
    transition: none; }

.button-icon {
  width: 40px !important;
  margin: 0; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .caroussel_title {
    font-size: 1.875rem !important;
    margin-bottom: 36px !important; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .caroussel_title {
    font-size: 2.5rem !important;
    margin-bottom: 40px !important; } }

.caroussel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .caroussel .caroussel_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: 1;
    transition-property: opacity; }
    .caroussel .caroussel_image.hide {
      opacity: 0; }
  .caroussel .caroussel_details {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute; }
    .caroussel .caroussel_details .caroussel_title {
      font-size: 3.125rem;
      text-transform: uppercase;
      margin-bottom: 50px;
      opacity: 1;
      transition-property: all; }
      .caroussel .caroussel_details .caroussel_title.hide {
        opacity: 0; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .section_container {
    max-width: 300px !important;
    margin: 60px 0 !important; }
    .section_container .section_title {
      font-size: 1.25rem !important;
      line-height: 1.75rem !important;
      margin-bottom: 20px !important; }
    .section_container .section_text {
      width: 100%;
      font-size: 0.9375rem !important;
      line-height: 1.1875rem !important; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section_container {
    max-width: 620px !important; } }

@media screen and (min-width: 1024px) {
  .section_container {
    max-width: 940px !important; } }

.section {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #FFF; }
  .section .section_container {
    max-width: 940px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0; }
    .section .section_container .section_title {
      font-size: 1.875rem;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 40px; }
    .section .section_container .section_text {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.0625rem; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .instafeed_container {
    max-width: 320px !important; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .instafeed_container {
    max-width: 620px !important; } }

@media screen and (min-width: 1024px) {
  .instafeed_container {
    max-width: 940px !important; } }

.instafeed {
  display: flex;
  justify-content: center;
  text-align: center;
  background: url(../assets/images/Feed_bg.jpg) no-repeat center center;
  background-size: cover; }
  .instafeed .instafeed_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0; }
    .instafeed .instafeed_container .instafeed_title {
      font-size: 1.875rem;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 20px;
      color: #789199; }
    .instafeed .instafeed_container .instafeed_subtitle {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.0625rem;
      color: #FFF; }
    .instafeed .instafeed_container .columns {
      column-width: 300px;
      column-gap: 20px;
      column-count: 3;
      margin: 50px auto; }
      .instafeed .instafeed_container .columns figure {
        width: 100%;
        max-width: 300px;
        background: #FFF;
        margin: 0 0 20px 0;
        display: inline-block;
        column-break-inside: avoid; }
        .instafeed .instafeed_container .columns figure img {
          width: 100%;
          height: auto; }
        .instafeed .instafeed_container .columns figure figcaption {
          font-size: 0.9375rem;
          line-height: 1.3125rem;
          text-align: left;
          color: #76797F;
          margin: 15px; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .scroll {
    width: 40px !important;
    height: 40px !important;
    background-image: url(../assets/icons/arrow_down_touch.svg) !important;
    bottom: 20px !important; }
    .scroll .arrow-down {
      display: none !important; } }

.scroll {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  background-color: #FFF;
  background-repeat: no-repeat;
  align-self: center;
  background-position: center;
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-image: url(../assets/icons/mouse.svg); }
  .scroll:hover {
    background-image: url(../assets/icons/mouse_.svg); }
  .scroll .arrow-down {
    width: 14px;
    height: 8px;
    display: inline-block;
    top: 100%;
    position: inherit;
    opacity: 0;
    margin-top: 10px;
    position: inherit;
    background: url(../assets/icons/arrow_down.svg) no-repeat center center;
    cursor: default;
    animation: arrow 1.2s linear infinite; }

@keyframes arrow {
  0% {
    margin-top: 10px;
    opacity: 0; }
  20%, 80% {
    opacity: 1; }
  100% {
    margin-top: 25px;
    opacity: 0; } }
